* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    background: black;
}
.my-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transform-style: preserve-3d;
    transform: scale(1.2);
    transition: transform.5s;
}
.face,
.back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: blanchedalmond;
    backface-visibility: hidden;
}
.face {
    transform: rotateY(180deg);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-top: 10px;
    
}
.container:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.container.flip {
    transform: rotateY(180deg);
}